@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    cursor: none;
    --cursor-color: #00d4ff;
}

body {
    background-color: #020024;
    color: #00d4ff;
    font-family: 'Alegreya', serif;
}

html.dark-mode {
    --cursor-color: #fff;
  }

.white-content {
    background: #e4e4e4d5;
}

.show-nav {
    opacity: 0.8;
    visibility: visible;
    transition: all 0.3s ease;
    padding: 40px 0;
}

.agbalumo {
    font-family: 'Agbalumo', serif;
}

.hide-nav {
    opacity: 0;
    visibility: hidden;

}
@media screen and (min-width:993px) {

    .hide-nav {
        opacity: 1;
        visibility: visible;
        transition: none;
    }
}

@media screen and (min-width:993px) {
    
    .hamburger {
     /*display: none;*/
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

Link {
    text-decoration: none;
}

.wrapper {
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;

    @media screen and (min-width:768px) {
        width: 750px;
    }
    @media screen and (min-width:992px) {
        width: 970px;
    }
    @media screen and (min-width:1200px) {
        width: 1170px;
    }
    @media screen and (min-width:1440px) {
        width: 1370px;
    }
}

.main-title {
    font-size: 4rem;
}
